In [2]:
import pandas as pd

In [3]:
data = pd.read_csv('../data/Startup-newdata/companies.csv', encoding="utf-8", encoding_errors= 'replace')

In [8]:
data.sample(10)

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
1474,/organization/adoro-viajar-s-a,Adoro Viajar S/A,http://adoroviajar.com.br,NaN,-,closed,NaN,NaN,NaN,NaN,1,2015-01-01,2015-08-15,2015-08-15
37392,/organization/multimedia-plus,Multimedia Plus | QuizScore,http://www.multimediaplus.com,Enterprise Software|Retail Technology|SaaS|Video,-,operating,USA,NY,New York City,New York,2,1997-01-01,2013-07-16,2015-03-17
31405,/organization/lab4u,Lab4U,http://lab4u.co,EdTech|Education|Internet|Mobile|Mobile Device...,40000,operating,USA,CA,SF Bay Area,San Francisco,3,2013-01-01,2013-07-25,2015-05-01
55853,/organization/synap-2,Synap,https://synap.ac,Education,306154.655444503,closed,GBR,H3,Leeds,Leeds,1,2015-04-01,2015-08-14,2015-08-14
11977,/organization/clout,Clout,http://www.clout.com,Big Data|Credit|Discounts|Incentives|Loyalty P...,-,operating,USA,CA,Los Angeles,Beverly Hills,1,2013-04-19,2013-04-19,2013-04-19
5202,/organization/avalon-pharmaceuticals,Avalon Pharmaceuticals,http://www.avalonpharma.com,Biotechnology|Clinical Trials|Health and Wellness,237338,ipo,USA,MD,"Washington, D.C.",Germantown,1,1999-01-01,2008-10-27,2008-10-27
45633,/organization/protego,PROTEGO,http://www.protego.com,Manufacturing,-,operating,NaN,NaN,NaN,NaN,1,NaN,2004-04-27,2004-04-27
29382,/organization/jagtag,JagTag,http://www.jagtag.com,Mobile,3628372,acquired,USA,NJ,Newark,Princeton,1,2007-01-01,2009-12-17,2009-12-17
55670,/organization/sway-medical-technologies,Sway Medical Technologies,http://swaymedical.com,Biotechnology|Software,750000,operating,USA,OK,Tulsa,Tulsa,1,2011-01-01,2013-06-21,2013-06-21
39593,/organization/nongxiang-network,Nongxiang Network,http://www.nx28.com,Manufacturing,-,operating,CHN,23,Shanghai,Shanghai,1,NaN,2012-07-01,2012-07-01

In [5]:
data2 = pd.read_csv('../data/Startup-newdata/rounds.csv', encoding="utf-8", encoding_errors= 'replace')

In [6]:
data2.head()

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,Media,IND,16,Mumbai,Mumbai,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,2015-01-05,10000000.0
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,2014-10-14,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,2014-03-01,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN,NaN,NaN,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,B,2014-01-30,3406878.0
4,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,2008-03-19,2000000.0

In [12]:
data[data["name"] == "JagTag"]

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
29382,/organization/jagtag,JagTag,http://www.jagtag.com,Mobile,3628372,acquired,USA,NJ,Newark,Princeton,1,2007-01-01,2009-12-17,2009-12-17

In [15]:
data2[data2["company_name"] == ":Qounter"]

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,2014-10-14,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,2014-03-01,700000.0