In [2]:
import pandas as pd

In [5]:
data = pd.read_csv('../data/Startup-newdata/companies.csv', encoding="utf-8", encoding_errors= 'replace')

In [6]:
data.head(10)

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
0,/organization/-fame,#fame,http://livfame.com,Media,10000000,operating,IND,16,Mumbai,Mumbai,1,NaN,2015-01-05,2015-01-05
1,/organization/-qounter,:Qounter,http://www.qounter.com,Application Platforms|Real Time|Social Network...,700000,operating,USA,DE,DE - Other,Delaware City,2,2014-09-04,2014-03-01,2014-10-14
2,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",http://oneofthem.jp,Apps|Games|Mobile,3406878,operating,NaN,NaN,NaN,NaN,1,NaN,2014-01-30,2014-01-30
3,/organization/0-6-com,0-6.com,http://www.0-6.com,Curated Web,2000000,operating,CHN,22,Beijing,Beijing,1,2007-01-01,2008-03-19,2008-03-19
4,/organization/004-technologies,004 Technologies,http://004gmbh.de/en/004-interact,Software,-,operating,USA,IL,"Springfield, Illinois",Champaign,1,2010-01-01,2014-07-24,2014-07-24
5,/organization/01games-technology,01Games Technology,http://www.01games.hk/,Games,41250,operating,HKG,NaN,Hong Kong,Hong Kong,1,NaN,2014-07-01,2014-07-01
6,/organization/0ndine-biomedical-inc,Ondine Biomedical Inc.,http://ondinebio.com,Biotechnology,762851,operating,CAN,BC,Vancouver,Vancouver,2,1997-01-01,2009-09-11,2009-12-21
7,/organization/0xdata,H2O.ai,http://h2o.ai/,Analytics,33600000,operating,USA,CA,SF Bay Area,Mountain View,4,2011-01-01,2013-01-03,2015-11-09
8,/organization/1,One Inc.,http://whatis1.com,Mobile,1150050,operating,USA,CA,SF Bay Area,San Francisco,3,2011-08-01,2011-07-20,2014-02-05
9,/organization/1-2-3-listo,"1,2,3 Listo",http://www.123listo.com,E-Commerce,40000,operating,CHL,12,Santiago,Las Condes,1,2012-01-01,2013-02-18,2013-02-18

In [5]:
data2 = pd.read_csv('../data/Startup-newdata/rounds.csv', encoding="utf-8", encoding_errors= 'replace')

In [6]:
data2.head()

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
0,/organization/-fame,#fame,Media,IND,16,Mumbai,Mumbai,/funding-round/9a01d05418af9f794eebff7ace91f638,venture,B,2015-01-05,10000000.0
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,2014-10-14,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,2014-03-01,700000.0
3,/organization/-the-one-of-them-inc-,"(THE) ONE of THEM,Inc.",Apps|Games|Mobile,NaN,NaN,NaN,NaN,/funding-round/650b8f704416801069bb178a1418776b,venture,B,2014-01-30,3406878.0
4,/organization/0-6-com,0-6.com,Curated Web,CHN,22,Beijing,Beijing,/funding-round/5727accaeaa57461bd22a9bdd945382d,venture,A,2008-03-19,2000000.0

In [12]:
data[data["name"] == "JagTag"]

,permalink,name,homepage_url,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at
29382,/organization/jagtag,JagTag,http://www.jagtag.com,Mobile,3628372,acquired,USA,NJ,Newark,Princeton,1,2007-01-01,2009-12-17,2009-12-17

In [15]:
data2[data2["company_name"] == ":Qounter"]

,company_permalink,company_name,company_category_list,company_country_code,company_state_code,company_region,company_city,funding_round_permalink,funding_round_type,funding_round_code,funded_at,raised_amount_usd
1,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/22dacff496eb7acb2b901dec1dfe5633,venture,A,2014-10-14,NaN
2,/organization/-qounter,:Qounter,Application Platforms|Real Time|Social Network...,USA,DE,DE - Other,Delaware City,/funding-round/b44fbb94153f6cdef13083530bb48030,seed,NaN,2014-03-01,700000.0

In [3]:
data3 = pd.read_csv('./clean_search.csv', encoding="utf-8", encoding_errors= 'replace')

In [13]:
data3.head(20)

,name,funding_total_usd,status,country_code,funding_rounds,Industry_Group,time_between_first_last_funding,days_in_business
0,#waywire,1750000,acquired,USA,1,Content and Publishing,0,1307
1,&TV Communications,4000000,operating,USA,2,Gaming,111,2035
2,'Rock' Your Paper,40000,operating,Other,1,Content and Publishing,0,1160
3,(In)Touch Network,1500000,operating,Other,1,Consumer Electronics,0,1734
4,-R- Ranch and Mine,60000,operating,USA,2,Travel and Tourism,40,728
5,.Fox Networks,4912393,closed,Other,1,Advertising,0,3270
6,0-6.com,2000000,operating,Other,1,Internet Services,0,3285
7,01Games Technology,41250,operating,Other,1,Gaming,0,547
8,"1,2,3 Listo",40000,operating,Other,1,Commerce and Shopping,0,1459
9,10 Minutes With,4400000,operating,Other,2,Education,646,1093
10,10-20 Media,2050000,operating,USA,4,Commerce and Shopping,923,5476
11,1000 Corks,40000,operating,USA,1,Internet Services,0,2920
12,1000 Markets,500000,acquired,Other,1,Commerce and Shopping,0,2554
13,1000memories,2535000,acquired,USA,2,Internet Services,411,2008
14,1000museums.com,4962651,operating,USA,6,Internet Services,1801,2920
15,1001 Menus,4059079,operating,Other,4,Food and Beverage,333,1866
16,1006.tv,10000000,operating,Other,3,Media and Entertainment,1307,2554
17,100du.tv,3000000,operating,Other,2,Health Care,949,2914
18,100e.com,4500000,operating,Other,2,Education,243,3650
19,100health,420000,operating,USA,1,Health Care,0,544

In [15]:
company = data3[data3["name"] == "1006.tv"].iloc[0]

In [16]:
company["status"]

'operating'